/* DEFINITIONS */

:root {
  color-scheme: light dark;
}

/* THEME */

@media (prefers-color-scheme: light) {
	:root {
		--urgent: #065ed4; /* telephone booth blue */
		--primary: #4e97e1; /* bell system van striping */
		--secondary: #e1b348; /* bell system van striping */
		--tertiary: #9ca38a; /* bell system van undercoating */
		--txt-color: black;
		--bg-color: #fafcfe; /* no.5 xbar covers */
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		/*--urgent: #ff8206; */ /* fuse alarm */
		--urgent: #e75f1f; /* panel switch vermillion */
		--primary: #b8022a; /* major carrier alarm */
		--secondary: #e6ffa9; /* minor carrier alarm */
		--tertiary: #e75f1f; /* panel switch vermillion */
		--txt-color: white;
		--bg-color: black;
	}
}

body {
	background: var(--bg-color);
}

/* STRUCTURE */

* {
	margin: 0;
	padding: 0;
	text-wrap: pretty;
}

/* TYPOGRAPHY */

:root {
	font-family: 'Inter', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	font-display: swap;
	color: var(--txt-color);
}

@supports (font-variation-settings: normal) {
	:root {
		font-family: 'InterVariable', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	}
}

/* STYLE */

a {
	color: var(--tertiary) !important;
	white-space: normal;
	text-decoration: underline !important;
	text-decoration-style: dotted;
	text-decoration-color: var(--tertiary) !important;
}

a:visited {
    color: var(--tertiary) !important;
}

a:hover {
	color: var(--primary) !important;
	text-decoration: underline;
	text-decoration-style: solid;
	text-decoration-color: var(--secondary) !important;
	text-decoration-skip-ink: auto;
}

/* CONTENT */

#header {
	color: var(--urgent);
	display: flex !important;
	flex-direction: row;
	align-items: baseline;
}

#header * {
	padding: 0 !important;
	margin: 0 !important;
}

#logo {
	padding-right: 15px !important;
	display: inline !important;
	max-height: 10rem;
}

#name {
	line-height: 1em !important;
}

/* MEDIA */

@media (prefers-color-scheme: dark) {
	#logo {
		filter: invert(100%);
	}
	
	hr {
		background-color: var(--txt-color);
	}
}

/* LAYOUT */

@media only screen and (max-width: 1450px) {
	#logo {
		max-height: 9rem;
	}
	#name {
		font-size: 9rem;
	}
}


@media only screen and (max-width: 1250px) {
	#logo {
		max-height: 7rem;
	}
	#name {
		font-size: 7.5rem;
	}
}

@media only screen and (max-width: 1050px) {
	#header {
		float: right;
	}
	#logo {
		max-height: 5.5rem;
	}
	#name {
		font-size: 6rem;
  	}
}

@media only screen and (max-width: 950px) {
	#logo {
		max-height: 3.5rem;
	}
	#name {
		font-size: 4rem;
	}
}

@media only screen and (max-width: 650px) {
	#logo {
		max-height: 2.5rem;
	}
	#name {
		font-size: 3rem;
    }
}