/* IMPORTS */

@import url('https://rsms.me/raster/raster2.css');

/* DEFINITIONS */

:root {
  color-scheme: light dark;
  /*font-size: 15px !important;*/
}

/* THEME */

@media (prefers-color-scheme: light) {
	:root {
		--primary: #f00;
		--secondary: #0f0;
		--tertiary: #00f;
		--txt-color: black;
		--bg-color: white;=
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: #f00;
		--secondary: #0f0;
		--tertiary: #00f;
		--txt-color: white;
		--bg-color: black;
	}
}

body {
	background: var(--bg-color);
}

/* STRUCTURE */

* {
	margin: 0;
	padding: 0;
	text-wrap: pretty;
}

/* TYPOGRAPHY */

:root {
	font-family: 'Inter', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	font-display: swap;
	color: var(--txt-color);
}

@supports (font-variation-settings: normal) {
	:root {
		font-family: 'InterVariable', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	}
}

/* STYLE */

a {
	white-space: normal;
	text-decoration: underline !important;
	text-decoration-style: dotted;
	text-decoration-color: var(--tertiary) !important;
}

a:hover {
    text-decoration: underline;
	text-decoration-style: solid;
	text-decoration-color: var(--secondary) !important;
    text-decoration-skip-ink: auto;
}

a:visited {
    color: var(--a-txt-color);
}

/* PROPERTIES*/



/* CONTENT */

#header {
	display: flex !important;
	flex-direction: row;
	align-items: baseline;
}

#header * {
	padding: 0 !important;
	margin: 0 !important;
}

#logo {
	padding-right: 15px !important;
	display: inline !important;
	max-height: 10rem;
}

#name {
	line-height: 1em !important;
}

@media only screen and (max-width: 1450px) {
	#logo {
		max-height: 9rem;
	}
	#name {
		font-size: 9rem;
	}
}


@media only screen and (max-width: 1250px) {
	#logo {
		max-height: 7rem;
	}
	#name {
		font-size: 7.5rem;
	}
}

@media only screen and (max-width: 1050px) {
	#header {
		float: right;
	}
	#logo {
		max-height: 5.5rem;
	}
	#name {
		font-size: 6rem;
  	}
}

@media only screen and (max-width: 950px) {
	#logo {
		max-height: 3.5rem;
	}
	#name {
		font-size: 4rem;
	}
}

@media only screen and (max-width: 650px) {
	#logo {
		max-height: 2.5rem;
	}
	#name {
		font-size: 3rem;
    }
}
*/